body 
{
    font-family: Arial;
    background: WhiteSmoke;
    font-size:14px;
}

.instructions
{
    color: Green;
    font-size: 11px;
    font-style: italic;
}

A:link
{
    text-decoration: none;
    color: DarkGreen;
}

A:visited
{
    text-decoration: none;
    color: DarkGreen;
}

A:active
{
    text-decoration: none;
    color: Green;
}