<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.name }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="http://www.aresmush.com">
            <span class="username">www.aresmush.com</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.copyright }}</p>
    </div>

  </div>

</footer>
