<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{site.siteroot}}">{{ site.name }}</a>


    <nav class="site-nav">
     
      <div class="trigger">
        
    <a class="page-link" href="{{site.siteroot}}/install">Installation</a>
    <a class="page-link" href="{{site.siteroot}}/releases">Releases</a>
    <a class="page-link" href="{{site.siteroot}}/core">Core</a>
    <a class="page-link" href="{{site.siteroot}}/addons">Addons</a>
    <a class="page-link" href="{{site.siteroot}}/fs3">FS3</a>
    <a class="page-link" href="{{site.siteroot}}/about">About</a>
       
      </div>
    </nav>

  </div>

</header>
